<h1>Should I take an umbrella?</h1>

<form action="/process_umbrella">
  <label for ="user_loc">Where are you located?</label>
  <input type ="text" name ="user_loc" id ="user_loc">

  <button>Submit</button>
</form>
